<form action="/plants/{{plant._id}}/comments/create" method="post">

    <label for="reviewer">Who Are You?</label>
    <input type="text" id="reviewer" name="reviewer">

    <label>What's your experience with this plant?</label>
    <textarea name="content" cols="30" rows="10"></textarea>

    <button type="submit">Post</button>

</form>