<h2>Add a new plant to the database</h2>


<form action="/plants/create" method="post">

<label>Species</label>
<input type="text" name="species">
<br>


<label>Family</label>
<input type="text" name="family">
<br>

<label>Light</label>
<input type="text" name="title">
<br>

<label>Maintenance</label>
<input type="text" name="maintenance"> 
{{!-- Include full name? --}}
<br>
<button type="submit">Save Plant</button>


</form>