<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/creative.css' />
    <!-- Custom styles for this template -->
    <link href="/stylesheets/creative.min.css" rel="stylesheet">
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/creative.css' />
    <link href="/stylesheets/style.scss" rel="stylesheet">


     <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    
  </head>
  <body>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
    <script src='/javascripts/creative.js'></script>
    <script src='/javascripts/creative.min.js'></script>
     <script src='/javascripts/gulpfile.js'></script>
    <script src="/app.js"></script>
  </body>
</html>
